
<div class="row">
  <div class="col-md-4">
    <h2 class="h6 text-center">Not yet started</h2>
    
    <%= render "tasks/form", task: current_user.tasks.build %>
    
    <ul class="list-group">
      <% not_yet_started_tasks = current_user.tasks.not_yet_started.order(created_at: :asc) %>
      <% not_yet_started_tasks.each do |task| %>
        <%= render "tasks/task", task: task %>
      <% end %>
    </ul>
  </div>

  <div class="col-md-4">
    <h2 class="h6 text-center">In progress</h2>
    <ul class="list-group">
      <% in_progress_tasks = current_user.tasks.in_progress.order(updated_at: :desc) %>
      <% in_progress_tasks.each do |task| %>
        <%= render "tasks/task", task: task %>
      <% end %>
    </ul>
  </div>

  <div class="col-md-4">
    <h2 class="h6 text-center">Completed</h2>
    <ul class="list-group">
      <% completed_tasks = current_user.tasks.completed.order(updated_at: :desc) %>
      <% completed_tasks.each do |task| %>
        <%= render "tasks/task", task: task %>
      <% end %>
    </ul>
  </div>

  
