
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <h2 class="card-header">Not yet started</h2>
        
        <%= render "tasks/form", task: current_user.tasks.build %>
        
        <ul class="list-group">
          <% not_yet_started_tasks = current_user.tasks.not_yet_started.order(created_at: :desc) %>
          <% not_yet_started_tasks.each do |task| %>
            <%= render "tasks/task", task: task %>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        
        <h2 class="card-header">In progress</h2>
        <ul class="list-group">
          <% in_progress_tasks = current_user.tasks.in_progress.order(updated_at: :desc) %>
          <% in_progress_tasks.each do |task| %>
            <%= render "tasks/task", task: task %>
          <% end %>
        </ul>

      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        
        <h2 class="card-header">Completed</h2>
        <ul class="list-group">
          <% completed_tasks = current_user.tasks.completed.order(updated_at: :desc) %>
          <% completed_tasks.each do |task| %>
            <%= render "tasks/task", task: task %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>



  
